.main-footer {
  background: white;
  margin-top: 3em;
  padding: 3em;
}
.footer-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1500px;
  width: 95%;
  .links {
    display: flex;
  }
}

.twitter-link {
  display: block;
  height: 30px;
  margin: 0.2em;
  padding: 0.5em;
  width: 30px;
}
.rss-link {
  display: block;
  height: 25px;
  margin: 0.2em;
  padding: 0.65em;
  width: 25px;
}
.link-name {
  display: none;
}

//Dark theme overrides
.dark {
  .main-footer {
    background: $dark_secondary;
  }
}
