.main-footer {
  background: white;
  margin-top: 3em;
  padding: 3em;
}
.footer-content {
  margin: 0 auto;
  max-width: 1500px;
  width: 95%;
}

//Dark theme overrides
.dark {
  .main-footer {
    background: $dark_secondary;
  }
}
