.main-header {
  margin: 0 auto;
  max-width: 1500px;
  padding-top: 1.5em;
  width: 95%;
}

.home-main {
  color: black;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Rock Salt', cursive;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: $secondary;
  }
  .name {
    @include fontSize(30px);
    line-height: 1;
  }
  .blog {
    @include fontSize(18px);
    line-height: 1;
    margin-top: 0.5em;
  }
}
